# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Intellij-Settings
.idea

#ignore tmp test data
/deepsampler-junit4/src/test/tmp/
/deepsampler-junit5/src/test/tmp/
